<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-16 h-16" src="https://avatars.githubusercontent.com/u/8452409?v=4" alt="Mi foto">
    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>